@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: hsl(158, 36%, 37%);
    --secondary-color: hsl(30, 38%, 92%);
    --neutral-color1: hsl(212, 21%, 14%);
    --neutral-color2: hsl(228, 12%, 48%);
    --neutral-color3: hsl(0, 0%, 100%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--secondary-color);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31.25em;
    height:fit-content;
    border-radius: 9px;
    overflow: hidden;
}

.container img {
    width: 100%;
    display: flex;
}

#product-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7em;
    letter-spacing: 2px;
    color: var(--neutral-color2);
    font-weight: 900;
}

#para {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75em;
    line-height: 1.3em;
    color: var(--neutral-color2);
}

.container .left {
    width: 50%;
    height: 100%;
}

#mobil-img{
    display: none;
}

.container .right {
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-color3);
    width: 50%;
    height: 100%;
    gap: 0.9em;
    padding:2.2em;
}

#pricing,#heading {
    font-family: 'Fraunces', serif;
}

#now {
    font-size: 1.87em;
    color: var(--primary-color);
    margin-right: 0.3em;
}

#then {
    font-size: 0.75em;
    text-decoration: line-through;
}

#button_primary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-color);
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
}

#button_primary:hover{
    background-color: rgb(3, 91, 3);
}

a {
    text-decoration: none;
    color: white;
}
@media (max-width:440px) {
    .container{
        flex-direction: column;
        width: 350px;
    }
    .container .right,.container .left{
        width: 100%;
    }
    #mobil-img{
        display: block;
    }
    #desk-img{
        display: none;
    }
    /* #button_primary{
        padding: 1em 2.4em;
    } */
}